In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [3]:
for filename in os.listdir(DATA_DIR):
    print(filename)

boxofficemojo 2015 rankings.csv
boxofficemojo 2012 rankings.csv
boxofficemojo 2013 rankings.csv
boxofficemojo 2014 rankings.csv
.DS_Store
boxofficemojo 2019 rankings.csv
boxofficemojo 2018 rankings.csv
boxofficemojo 2016 rankings.csv
boxofficemojo 2011 rankings.csv
boxofficemojo 2020 rankings.csv
boxofficemojo 2017 rankings.csv

In [4]:
df = pd.read_csv(os.path.join(DATA_DIR, 'boxofficemojo 2011 rankings.csv'))
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Harry Potter and the Deathly Hallows: Part 2,"$1,341,511,219","$381,011,219",28.4%,"$960,500,000",71.6%
1,2,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543",31.4%,"$771,403,536",68.6%
2,3,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802","$241,071,802",23.1%,"$804,642,000",76.9%
3,4,The Twilight Saga: Breaking Dawn - Part 1,"$712,205,856","$281,287,133",39.5%,"$430,918,723",60.5%
4,5,Mission: Impossible - Ghost Protocol,"$694,713,380","$209,397,903",30.1%,"$485,315,477",69.9%

In [5]:
df['Year'] = 2011

In [6]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,Harry Potter and the Deathly Hallows: Part 2,"$1,341,511,219","$381,011,219",28.4%,"$960,500,000",71.6%,2011
1,2,Transformers: Dark of the Moon,"$1,123,794,079","$352,390,543",31.4%,"$771,403,536",68.6%,2011
2,3,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802","$241,071,802",23.1%,"$804,642,000",76.9%,2011
3,4,The Twilight Saga: Breaking Dawn - Part 1,"$712,205,856","$281,287,133",39.5%,"$430,918,723",60.5%,2011
4,5,Mission: Impossible - Ghost Protocol,"$694,713,380","$209,397,903",30.1%,"$485,315,477",69.9%,2011

In [8]:
my_entire_data = pd.DataFrame

csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")]
for filename in csv_files:
    print(filename)
    year = filename.replace(.csv, "")
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    print(this_df.head(n=1))

boxofficemojo 2015 rankings.csv
   Rank                               Release Group       Worldwide  \
0     1  Star Wars: Episode VII - The Force Awakens  $2,068,223,624

       Domestic      %         Foreign    %.1
0  $936,662,225  45.3%  $1,131,561,399  54.7%
boxofficemojo 2012 rankings.csv
   Rank Release Group       Worldwide      Domestic    %       Foreign  %.1
0     1  The Avengers  $1,518,812,988  $623,357,910  41%  $895,455,078  59%
boxofficemojo 2013 rankings.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1        Frozen  $1,280,802,282  $400,738,009  31.3%  $880,064,273

     %.1
0  68.7%
boxofficemojo 2014 rankings.csv
   Rank                    Release Group       Worldwide      Domestic      %  \
0     1  Transformers: Age of Extinction  $1,104,054,072  $245,439,076  22.2%

        Foreign    %.1
0  $858,614,996  77.8%
boxofficemojo 2019 rankings.csv
   Rank      Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Endgame  $2,797,800,564  $858,373,000  30.7%

          Foreign    %.1
0  $1,939,427,564  69.3%
boxofficemojo 2018 rankings.csv
   Rank           Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1
0  $1,369,544,272  66.9%
boxofficemojo 2016 rankings.csv
   Rank               Release Group       Worldwide      Domestic      %  \
0     1  Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%

        Foreign    %.1
0  $745,211,944  64.6%
boxofficemojo 2011 rankings.csv
   Rank                                 Release Group       Worldwide  \
0     1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219

       Domestic      %       Foreign    %.1
0  $381,011,219  28.4%  $960,500,000  71.6%
boxofficemojo 2020 rankings.csv
   Rank      Release Group     Worldwide  Domestic      %       Foreign    %.1
0     1  The Eight Hundred  $441,656,664  $331,279  <0.1%  $441,325,385  99.9%
boxofficemojo 2017 rankings.csv
   Rank                            Release Group       Worldwide  \
0     1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889

       Domestic      %       Foreign    %.1
0  $620,181,382  46.5%  $712,358,507  53.5%