In [7]:
import os
import pandas as pd

In [4]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [5]:
os.listdir(DATA_DIR)

['boxofficemojo 2015 rankings.csv',
 'boxofficemojo 2012 rankings.csv',
 'boxofficemojo 2013 rankings.csv',
 'boxofficemojo 2014 rankings.csv',
 'boxofficemojo 2019 rankings.csv',
 'boxofficemojo 2018 rankings.csv',
 'boxofficemojo 2016 rankings.csv',
 'boxofficemojo 2011 rankings.csv',
 'boxofficemojo 2020 rankings.csv',
 'boxofficemojo 2017 rankings.csv']

In [16]:
data = os.path.join(DATA_DIR, 'boxofficemojo 2017 rankings.csv')
print(os.path.exists(data))

True

In [17]:
df = pd.read_csv(data)

In [18]:
df.head(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Star Wars: Episode VIII - The Last Jedi,"$1,332,539,889","$620,181,382",46.5%,"$712,358,507",53.5%
1,2,Beauty and the Beast,"$1,263,521,126","$504,014,165",39.9%,"$759,506,961",60.1%
2,3,The Fate of the Furious,"$1,236,005,118","$226,008,385",18.3%,"$1,009,996,733",81.7%
3,4,Despicable Me 3,"$1,034,799,409","$264,624,300",25.6%,"$770,175,109",74.4%
4,5,Jumanji: Welcome to the Jungle,"$962,077,546","$404,515,480",42%,"$557,562,066",58%
5,6,Spider-Man: Homecoming,"$880,166,924","$334,201,140",38%,"$545,965,784",62%
6,7,Wolf Warrior 2,"$870,325,439","$2,721,100",0.3%,"$867,604,339",99.7%
7,8,Guardians of the Galaxy Vol. 2,"$863,756,051","$389,813,101",45.1%,"$473,942,950",54.9%
8,9,Thor: Ragnarok,"$853,977,126","$315,058,289",36.9%,"$538,918,837",63.1%
9,10,Wonder Woman,"$821,847,012","$412,563,408",50.2%,"$409,283,604",49.8%